// Fonts
@import url(https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

// Colors
$primary-color: #1448FF;
$secondary-color: #0033E8;
$message-card-color: #949191;
$input-color: #A7A7A7;
$task-color: #4D4D4D;
$title-color: #2A2A2A;
$option-color: #373737;


