// Fonts
@import url(https://fonts.googleapis.com/css?family=Onest:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

// Colors
$primary-color: #1448ff;
$secondary-color: #0033e8;
$message-card-color: #949191;
$input-color: #a7a7a7;
$task-color: #4d4d4d;
$title-color: #2a2a2a;
$option-color: #373737;
$bg-input-color: #eaefff;
$dark-color: #252525;
$dark-bg-color: #191919;
