@import "../styles/variables.scss";
.card {
  background-color: #fff;
  max-width: 30rem;
  margin: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 25px;
  border-radius: 10px;

  position: relative;
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    margin: 1rem 0 2rem 0;
  }

  .list-tasks .task-added {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: $option-color;
    font-weight: 300;
    font-size: 0.9rem;
    text-wrap: wrap;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-bottom: solid 1px rgb(206, 206, 206);

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    input {
      appearance: none;
      border: solid 2px $primary-color;
      width: 15px;
      height: 15px;
      border-radius: 3px;
    }

    p {
      &.concluded {
        text-decoration: line-through;
        color: rgb(164, 164, 164);
      }

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .more-option-icon {
      padding: 3px;
    }
  }

  .tasks {
    display: flex;
    gap: 2rem;
    align-items: center;

    .warning-tasks {
      color: $task-color;

      h3 {
        font-size: 1.1rem;
        font-weight: 600;
      }

      p {
        font-size: 0.95rem;

        .more {
          font-size: 2rem;
          color: $secondary-color;
        }
      }
    }
  }
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 5px;

  .logo {
    max-width: 30px;
  }

  span {
    font-weight: 700;
  }
}
