@import "../styles/variables.scss";
.card {
  background-color: #fff;
  max-width: 30rem;
  margin: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 20px;
  border-radius: 10px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    margin: 1rem 0 2rem 0;
  }

  .list-tasks li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $option-color;
    font-weight: 300;
    font-size: 0.9rem;
    text-wrap: wrap;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 10px 0;
    width: 100%;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .tasks {
    display: flex;
    gap: 2rem;
    align-items: center;

    .warning-tasks {
      color: $task-color;

      h3 {
        font-size: 1.1rem;
        font-weight: 600;
      }

      p {
        font-size: 0.95rem;

        .more {
          font-size: 2rem;
          color: $secondary-color;
        }
      }
    }
  }
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 5px;

  .logo {
    max-width: 30px;
  }

  span {
    font-weight: 700;
  }
}
