@import "../styles/variables.scss";

.card {
  background-color: #fff;
  width: 100%;
  max-width: 33rem;
  margin: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  transition: 250ms ease-in-out;

  &.dark {
    background-color: $dark-bg-color;
    color: #fff;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    margin: 1rem 0 2rem 0;
  }

  .list-tasks .task-added {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: $option-color;
    font-weight: 300;
    font-size: 0.9rem;
    text-wrap: wrap;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-top: solid 1px rgb(206, 206, 206);
    transition: 250ms ease-in-out;

    &.dark {
      color: #fff;
      border-top: solid 1px rgb(79, 79, 79);
    }

    .checklist {
      display: flex;
      align-items: center;
      gap: 7px;
      position: relative;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    input {
      appearance: none;
      border: solid 2px $primary-color;
      width: 15px;
      height: 15px;
      border-radius: 3px;

      &:checked {
        background-color: rgb(146, 146, 255);
      }
    }

    .task-line {
      display: flex;
      align-items: center;
      gap: 8px;

      &.concluded {
        text-decoration: line-through;
        color: rgb(164, 164, 164);
      }

      .clipboard-icon-task {
        color: $primary-color;
      }

      &.concluded > .clipboard-icon-task {
        color: rgb(164, 164, 164);
      }

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .more-option-icon {
      padding: 3px;
    }
  }
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 5px;

  .logo {
    max-width: 30px;
  }

  span {
    font-weight: 700;
  }
}
