@import "../styles/variables.scss";

.tasks {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;

  .warning-tasks {
    color: $task-color;

    &.dark {
      color: #fff;
    }

    h3 {
      font-size: 1.2rem;
      display: flex;
      font-weight: 600;
      align-self: center;
    }

    p {
      font-size: 0.95rem;
      margin-top: 1rem;

      .more {
        font-size: 2rem;
        color: $secondary-color;
      }
    }
  }
}