@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/variables.scss";
@import "./components/Button.scss";
@import './styles/mediaQueries.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Onest, "Open Sans", "Noto Sans", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0.5rem;
  transition: 250ms ease-in-out;

  &.dark {
    background-color: $dark-color;
  }

  &.light {
    background: $primary-color;
  }
}

.transition-container {
  transition: all 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.fade-out {
  opacity: 0;
  transform: scale(0.98);
  pointer-events: none;
}

.fade-in-modal {
  opacity: 1;
  pointer-events: all;
}

.fade-out-modal {
  opacity: 0;
  pointer-events: none;
}